-r ../../packages/integrations/ipfs/requirements.txt
-r ../../packages/integrations/privacy/requirements.txt
-r ../../packages/integrations/postgres/requirements.txt

web3>=7.0,<8.0

fastapi>=0.139.2,<1.0
uvicorn[standard]>=0.35,<1.0
